.row
  .span12
    %ul.breadcrumb
      %li
        = link_to "Projects", projects_path
        %span.divider /
      %li
        = link_to @current_project.name, @current_project
        %span.divider /
      %li= @group.message

.row
  .span2
    - unless @group.resolved?
      = link_to resolve_project_crash_group_path(@current_project, @group), class: "btn btn-danger btn-large", style: "display: block" do
        %i.icon-ok.icon-white
        Resolve
    %br/
    %h6 Timeline

    %ul.nav.nav-pills.nav-stacked
      - @crashes.each_with_index do |crash, index|
        %li{ class: index == 0 ? "active" : nil }= link_to l(crash.created_at, format: :long), '#crash_'+crash.id.to_s, { data: { toggle: "pill" } } 
  .span10
    .tab-content
      - @crashes.each_with_index do |crash, index|
        .tab-pane{ id: "crash_#{crash.id}", class: index == 0 ? "active" : nil }
          %ul.nav.nav-tabs
            %li.active= link_to "Summary", "#summary_#{crash.id}", { data: { toggle: "tab" } } 
            %li= link_to "Backtrace", "#backtrace_#{crash.id}", { data: { toggle: "tab" } } 
            %li= link_to "Envirnoment", "#env_#{crash.id}", { data: { toggle: "tab" } } 
          .tab-content
            .tab-pane.active{ id: "summary_#{crash.id}" }
              %pre= @group.message
              %table.table.table-bordered.table-striped
                %tr
                  %th.span3 Class Name
                  %td= @group.class_name
                %tr
                  %th.span3 Location
                  %td= @group.location
                %tr
                  %th.span3 File
                  %td= File.basename(crash.backtrace.first).split(":")[0..1].join(':')
                %tr
                  %th.span3 Recived at
                  %td= l(crash.created_at, format: :long)
                %tr
                  %th.span3 Similar Errors
                  %td= @group.crashes_count
            .tab-pane{ id: "backtrace_#{crash.id}" }
              %pre= crash.backtrace.join("\n")
            .tab-pane{ id: "env_#{crash.id}" }
              %table.table.table-bordered.table-striped
                - crash.env.each do |k,v|
                  %tr
                    %th= k
                    %td= v
              